body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding: 0 50px;
    background-color: #EFEFEF;
}

main {
    position: relative;
    display: flex;
    justify-content: space-between;
}


.search-wrap {
    display: flex;
    justify-content: space-around;
}
.search {
    padding-bottom: 30px;
}
.search__label {
    font-weight: bold;
    font-size: 18px;
}
.search__input {
    padding: 5px;
    border: 1px solid #333;
}
.search__button{
    display: inline-block;
    height: 30px;
    padding: 5px;
    border: 1px solid #333;
    background-color: white;
}



.table {
    width: 48%;
    border: 1px solid #333;
    background-color: white;
}
.table__header {
    background-color: #333;
    font-weight: bold;
    color: white;
}

.table__row {
    display: flex;
    padding: 5px;
    border-bottom: 1px solid #333;
}
.table__row:last-child {
    border-bottom: 0
}
.table__row--hover:nth-child(even) {
    background: rgba(0, 0, 0, .05);
}
.table__row--hover:hover {
    background: rgba(0, 0, 0, .2);
    cursor: pointer;
}

.table__cell {
    margin-right: 10px;
}
.table__cell--short {
    flex-shrink: 0;
    width: 50px;
}
.table__cell:last-child {
    margin-right: 0;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0, .1);
}

.spinner__icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    border-radius: 50%;
    border-top-color: #333;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spinner {
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

.invisible {
    visibility: hidden;
}

.hold {
    color: #2196f3 ;
    border: 2px solid #2196f3;
}

.drop-hint {
    border: 1px solid #2196f3;
    box-shadow: 5px 5px 20px #2196f3;
}
/*.drop-hint:before {*/
    /*content: 'Drop Here!';*/
    /*color: #2196f3;*/
    /*font-weight: bold;*/
/*}*/